[Unit]
Description=tz-deploy Client
After=network.target

[Service]
Type=simple
PIDFile=/home/ubuntu/tz-deploy/download/sdtdc_tomcat.pid
WorkingDirectory=/home/ubuntu/tz-deploy
ExecStart=/usr/bin/node /home/ubuntu/tz-deploy/app.js topzonetomcat
ExecStop=/bin/kill -9 `ps -ef | grep topzonetomcat | grep -v grep | awk '{print $2}'`

Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
