[Unit]
Description=tz-deploy Server
After=network.target

[Service]
Type=simple
PIDFile=/mnt/tz-deploy/download/sdtds.pid
WorkingDirectory=/mnt/tz-deploy
ExecStart=/usr/bin/node /mnt/tz-deploy/app.js server
ExecStop=/bin/killall node

Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
