[Unit]
Description=SodatTransferDeploy Client
After=network.target

[Service]
Type=simple
PIDFile=/home/ubuntu/SodaTransferDeploy/download/sdtdc_boot.pid
ExecStart=nohup /usr/bin/node /home/ubuntu/SodaTransferDeploy/app.js sodatransferboot &
ExecStop=/bin/kill -9 `ps -ef | grep sodatransferboot | grep -v grep | awk '{print $2}'`

Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
