[Unit]
Description=SodatTransferDeploy Server
After=network.target

[Service]
Type=simple
PIDFile=/mnt/SodaTransferDeploy/download/sdtds.pid
ExecStart=/usr/bin/node /mnt/SodaTransferDeploy/app.js server >> /mnt/SodaTransferDeploy/download/run.log
ExecStop=/bin/killall node

Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
