	<div ng-include="'views/include/header.html'"></div>
	
	<div id="container" class="about">
		<div id="content" class="">

			<section>
				<h2><span>aboutus.introduction.title</span></h2>
				<p><span>aboutus.introduction.text</span></p>
			</section>
			
			<section id="partner">
				<h2><span>aboutus.advertising.title</span></h2>
				<p><span>aboutus.advertising.text</span></p>
				<ul>
		            <li><a href="http://www.k-heroes.com/" target="_blank"><img src="/img/main/logo_k_heroes.png" alt="k_heroe"></a></li>
		            <li><a href="https://www.born2global.com/" target="_blank"><img src="/img/about/born2global.png" alt="Born2Global"></a></li>
		            <!-- <li><a href="http://www.paygate.net/" target="_blank"><img src="/img/main/logo_paygate.png" alt="PayGate"></a></li> -->
		        </ul>
			</section>

			<section id="member">
				<h2><span>aboutus.team.title</span></h2>
				<ul>
					<li>
						<div class="face"><img src="/img/about/daniel.png" alt=""></div>
						<div class="name">Daniel, <span>CEO & Co-Founder</span></div>
						<div class="sns">
							<a href="https://www.facebook.com/yunse.lee.3" target="_blank"><img src="/img/about/sns/facebook.png" alt="facebook "></a>
							<a href="http://kr.linkedin.com/in/danielyunse" target="_blank"><img src="/img/about/sns/linkedin.png" alt="linkedin "></a>
						</div>
						<p>
							<span class="nickname"><span>aboutus.team.daniel.title</span></span><br>
							<span>aboutus.team.daniel.text</span>
						</p>
					</li>
					<li>
						<div class="face"><img src="/img/about/jake.png" alt=""></div>
						<div class="name">Jake, <span>CTO & Co-Founder</span> </div>
						<div class="sns">
							<a href="https://www.facebook.com/jaehoonjakekim" target="_blank"><img src="/img/about/sns/facebook.png" alt="facebook "></a>
							<a href="https://kr.linkedin.com/in/jaehoonjakekim" target="_blank"><img src="/img/about/sns/linkedin.png" alt="linkedin "></a>
						</div>
						<p>
							<span class="nickname"><span>aboutus.team.jake.title</span></span><br>
							<span>aboutus.team.jake.text</span>
						</p>
					</li>
					<li>
						<div class="face"><img src="/img/about/richard.png" alt=""></div>
						<div class="name">Richard, <span>CFO & Co-Founder</span> </div>
						<div class="sns">
							<a href="https://www.facebook.com/richard.kim.988373" target="_blank"><img src="/img/about/sns/facebook.png" alt="facebook "></a>
						</div>
						<p>
							<span class="nickname"><span>aboutus.team.richard.title</span></span><br>
							<span>aboutus.team.richard.text</span>
						</p>
					</li>
					<li>
						<div class="face"><img src="/img/about/woojae.png" alt=""></div>
						<div class="name">Woojae, <span>CPO & Co-Founder</span> </div>
						<div class="sns">
							<a href="https://www.facebook.com/ToraHoyah" target="_blank"><img src="/img/about/sns/facebook.png" alt="facebook "></a>
							<a href="https://www.instagram.com/wjkstory/" target="_blank"><img src="/img/about/sns/instagram.png" alt="instagram "></a>
						</div>

						<p>
							<span class="nickname"><span>aboutus.team.woojae.title</span></span><br>
							<span>aboutus.team.woojae.text</span>
						</p>
					</li>
					
				</ul>
				<div class="clear"></div>
			</section>
			
		</div>
	</div>
	
	<div ng-include="'views/include/footer.html'"></div>
